.header{
  width: 585px;
}

.loginPage{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer{
  width: 585px;
  height: 477px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}