.coursesList{
  max-width: 1122px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 33px;
  padding: 70px 0;
}
.addCourseButton{
  width: 183px;
}
.controls{
  display: flex;
  justify-content: space-between;
}