.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.logo {
  width: 111px;
  height: 48px;
}

.userName {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: right;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 26px;
}

.button {
  width: 140px;
}

@media (max-width: 800px) {
  .header {
    padding: 0 20px;
  }

  .userInfo {
    gap: 15px;
  }

  .button {
    width: 100px;
  }
}

@media (max-width: 480px) {
  .header {
    height: 60px;
    padding: 0 15px;
  }

  .logo {
    width: 80px;
    height: 35px;
  }

  .userName {
    display: none;
  }

  .userInfo {
    gap: 10px;
  }

  .button {
    width: 80px;
    font-size: 12px;
  }
}
