.form{
  display: flex;
  justify-content: space-between;
}
.input{
  width: 400px;
}
.searchButton{
  width: 148px;
}
.addCourseButton{
  width: 183px;
}
.searchField{
  display: flex;
  gap: 16px;
}