.courseInfoCard {
  background-color: rgba(255, 255, 255, 1);
  padding: 53px 0 77px 64px;
}
.courseDetails {
  display: flex;
  margin-top: 25px;
}
.description {
  max-width: 487px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.separator {
  margin: 0 32px;
  border: 1px solid rgba(207, 207, 207, 1);
  height: auto;
}

.courseInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
