.courseForm{
  max-width: 100%;
  width: 1104px;
  height: 920px;
  display: flex;
  justify-content: center;
  padding: 25px 0;
  background-color: rgba(255, 255, 255, 1);
  overflow-y: auto;
}
.courseFormContainer{
  max-width: 944px;
  width: 100%;
}
.input, .textarea, .titleInput{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.titleInput {
  margin-bottom: 24px;
}

.textarea {
  margin-bottom: 32px;
}
.courseFormHeader{
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-transform: capitalize;
  margin-bottom: 39px;
}
.titleInputHeader, .durationInputHeader, .descriptionInputHeader, .authorNameInputHeader{
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 20px;
}

.durationSectionTitle, .authorsSectionTitle, .courseAuthorsSectionTitle{
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 32px;
  vertical-align: middle;
  text-transform: capitalize;
}

.durationAndAuthorsContainer{
  display: flex;
  gap: 156px;
}

.createAuthorButton{
  width: 185px;
}

.durationAndAuthorsInputsContainer{
  width: 100%;
}

.cancelButton, .createButton{
  width: 185px;
}