.courseForm{
  max-width: 100%;
  width: 1104px;
  height: 920px;
  max-height: 90vh;
  display: flex;
  justify-content: center;
  padding: 25px 20px;
  background-color: rgba(255, 255, 255, 1);
  overflow-y: auto;
}
.courseFormContainer{
  max-width: 944px;
  width: 100%;
}
.input, .textarea, .titleInput{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.titleInput {
  margin-bottom: 24px;
}

.textarea {
  margin-bottom: 32px;
}
.courseFormHeader{
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-transform: capitalize;
  margin-bottom: 39px;
}
.titleInputHeader, .durationInputHeader, .descriptionInputHeader, .authorNameInputHeader{
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 20px;
}

.durationSectionTitle, .authorsSectionTitle, .courseAuthorsSectionTitle{
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 32px;
  vertical-align: middle;
  text-transform: capitalize;
}

.durationAndAuthorsContainer{
  display: flex;
  gap: 156px;
}

.createAuthorButton{
  width: 185px;
}

.durationAndAuthorsInputsContainer{
  width: 100%;
}

.cancelButton, .createButton{
  width: 185px;
}

@media (max-width: 800px) {
  .courseForm {
    width: 95%;
    padding: 20px 15px;
  }

  .courseFormContainer {
    max-width: 100%;
  }

  .courseFormHeader {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 25px;
  }

  .durationSectionTitle, .authorsSectionTitle, .courseAuthorsSectionTitle {
    font-size: 20px;
    line-height: 28px;
  }

  .durationAndAuthorsContainer {
    flex-direction: column;
    gap: 30px;
  }

  .createAuthorButton,
  .cancelButton,
  .createButton {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .courseForm {
    width: 100%;
    padding: 15px 10px;
    height: auto;
    max-height: 95vh;
  }

  .courseFormHeader {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
  }

  .durationSectionTitle, .authorsSectionTitle, .courseAuthorsSectionTitle {
    font-size: 18px;
    line-height: 24px;
  }

  .titleInput {
    margin-bottom: 15px;
  }

  .textarea {
    margin-bottom: 20px;
  }
}