.courseInfoPage {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.courseInfo,
.title {
  max-width: 100%;
  width: 1122px;
  margin: 0 auto;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: right;
  max-width: 100%;
  width: 1122px;
  margin: 0 auto;
}

.backButton {
  width: 185px;
  margin-left: auto;
}
