.infoRow {
  display: flex;
}
.infoTitle {
  font-weight: 700px;
  font-size: 16px;
}
.infoValue {
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 480px) {
  .infoTitle,
  .infoValue {
    font-size: 14px;
  }
}
