.title {
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0px;
  text-transform: capitalize;
  width: 96px;
}
.infoRow {
  display: flex;
  align-items: center;
  gap: 36px;
  width: 400px;
}
.infoValue {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
