.content {
  display: flex;
  flex-direction: column;
  padding: 70px 0 240px 0;
}

@media (max-width: 800px) {
  .content {
    padding: 40px 0 120px 0;
  }
}

@media (max-width: 480px) {
  .content {
    padding: 20px 0 60px 0;
  }
}
