.emptyCoursesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 24px;
  padding: 20px;
}

@media (max-width: 480px) {
  .emptyCoursesList {
    gap: 15px;
    padding: 15px;
  }
}
