.coursesList {
  max-width: 1122px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 33px;
}
.addCourseButton {
  width: 183px;
}
.controls {
  display: flex;
  justify-content: space-between;
}
.courseFormModal{
  background-color: rgba(220, 220, 220, 0.69);
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}